<div id="kcwContainer" style="border: 2px solid white; width: 680px; height: 360px; background-color: black;">
<object type="application/x-shockwave-flash" id="uploader" name="uploader" 
data="http://www.kaltura.com/kcw/ui_conf_id/$uiConfId$" width="680" height="360">
<param name="allowScriptAccess" value="always">
<param name="allowNetworking" value="all">
<param name="wmode" value="opaque">
<param name="flashvars" value="uid=administrator&amp;partnerId=$partnerId$&amp;ks=$kalturaSession$&amp;afterAddEntry=onContributionWizardAfterAddEntry&amp;singleContribution=true&amp;close=onContributionWizardClose&amp;showCloseButton=true&amp;Permissions=1&amp;terms_of_use=http://kaltura.com">
</object>
</div>
